<div class="box">
  <div class="font-[sans-serif] bg-gray-100">
    <div class="p-4 mx-auto lg:max-w-7xl sm:max-w-full">
      <h1 class="text-3xl font-bold text-center text-gray-800 mb-4">
        SẢN PHẨM MỚI
      </h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-xl:gap-4 gap-6">
        <app-productnew [price]="item.price"
        (isSaveEvent)="getdata($event)"
        [isSave]="item.isSave"
        [name]="item.name"
        [url]="item.url"
        [idproduct]="item.id"
        *ngFor="let item of filteredProducts" ></app-productnew>
      </div>
    </div>
  </div>
</div>

