<div id="statistical">
  <div class="bg-[#ffffff] p-8 min-h-[350px] flex flex-col items-center justify-center font-sans">
    <h2 class="text-gray-800 text-3xl font-bold mb-16 text-center">Thông số Ứng dụng</h2>
    <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-6 max-lg:gap-12">
      <div class="text-center">
        <h3 class="text-gray-800 text-4xl font-extrabold">5.4<span class="text-blue-600">M+</span></h3>
        <p class="text-base font-bold mt-4">Tổng số người dùng</p>
        <p class="text-sm text-gray-500 mt-2">Số lượng người dùng đã đăng ký trên nền tảng.</p>
      </div>
      <div class="text-center">
        <h3 class="text-gray-800 text-4xl font-extrabold">$80<span class="text-blue-600">K</span></h3>
        <p class="text-base font-bold mt-4">Doanh thu</p>
        <p class="text-sm text-gray-500 mt-2">Tổng doanh thu được tạo ra bởi ứng dụng.</p>
      </div>
      <div class="text-center">
        <h3 class="text-gray-800 text-4xl font-extrabold">100<span class="text-blue-600">K</span></h3>
        <p class="text-base font-bold mt-4">Mức độ tương tác</p>
        <p class="text-sm text-gray-500 mt-2">Mức độ tương tác của người dùng với nội dung và tính năng của ứng dụng.</p>
      </div>
      <div class="text-center">
        <h3 class="text-gray-800 text-4xl font-extrabold">99.9<span class="text-blue-600">%</span></h3>
        <p class="text-base font-bold mt-4">Thời gian hoạt động của máy chủ</p>
        <p class="text-sm text-gray-500 mt-2">Tỷ lệ thời gian máy chủ hoạt động và sẵn sàng.</p>
      </div>
    </div>
  </div>
</div>
