<div class="lkk12">

  <div class="container">

    <div id="ppass" class="p-pass">
        <h2 class="title">Forgot password</h2>

        <div class="input-field">
            <i class='bx bxs-envelope'></i>
            <input type="text" placeholder="Email">
        </div>
        <div class="tk">

            <input type="submit" value="Submit" class="btn">
            <input id="returnt" type="submit" value="return" class="btn">
        </div>

    </div>




    <div class="signin-signup">

        <form class="sign-in-form" (ngSubmit)="login(formLogin)" #formLogin="ngForm">
            <h2 class="title">Login</h2>

            <div class="input-field">
                <i class='bx bxs-user-circle'></i>
                <input ngModel type="text" placeholder="Username" id="username" name="username">
            </div>


            <div class="input-field">
                <i class='bx bxs-key'></i>
                <input  ngModel type="password" placeholder="Password" id="password"name="password">
            </div>
            <p id="socialtext" class="social-text" style="margin-right: 180px;">Forgot password</p>

           <input type="submit" name="sign-in" value="Login" class="btn"  >



            <p class="social-text">Or Login By</p>
            <div class="social-media">
                <a href="#" class="social-icon">
                    <i class='bx bxl-facebook-circle'></i>
                </a>
                <a href="#" class="social-icon">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="#" class="social-icon">
                    <i class='bx bxl-instagram-alt'></i>
                </a>
                <a href="#" class="social-icon">
                    <i class='bx bxl-google'></i>
                </a>

            </div>

        </form>



        <form class="sign-up-form">
            <h2 class="title">Register</h2>



            <div class="input-field">
                <i class='bx bx-envelope'></i>
                <input type="email" placeholder="Email"  id="dk_email" required>
            </div>



            <div class="input-field">
                <i class='bx bxs-user-circle'></i>
                <input type="text" placeholder="username"  id="dk_user" required>
            </div>

            <div class="input-field">
                <i class='bx bxs-key'></i>
                <input type="password" placeholder="password"  id="dk_pass" required>
            </div>
            <div class="input-field">
                <i class='bx bxs-key'></i>
                <input type="password" placeholder="Confirm Password" id="ad" required>
            </div>

            <input type="submit" value="sign up" class="btn">
            <p class="social-text">or sign in with social platform</p>
            <div class="social-media">
                <a href="#" class="social-icon">
                    <i class='bx bxl-facebook-circle'></i>
                </a>
                <a href="#" class="social-icon">
                    <i class='bx bxl-twitter'></i>
                </a>
                <a href="#" class="social-icon">
                    <i class='bx bxl-instagram-alt'></i>
                </a>
                <a href="#" class="social-icon">
                    <i class='bx bxl-google'></i>
                </a>

            </div>

        </form>
    </div>
    <div class="panels-container">


        <div class="panel left-panel">
            <div class="content">

                <h3>WELCOME BACK!</h3>
                <p>Lorem ipsum dotor sit amet consectetur adipisicing</p>
                <button class="btn" id="sign-in-btn">sign in</button>
            </div>
            <img src="../image/logovs.jpg" alt="" class="image">
        </div>

        <div class="panel right-panel">
            <div class="content">
                <h3>WELCOME BACK!</h3>
                <p>Lorem ipsum dotor sit amet consectetur adipisicing</p>
                <button class="btn" id="sign-up-btn">sign up</button>
            </div>
            <img src="../image/logovs.jpg" alt="" class="image">


        </div>
    </div>
</div>
</div>
