<div class="relative w-full overflow-hidden">
  <div class="slider h-64 relative overflow-hidden">
    <img src="https://cdnv2.tgdd.vn/mwg-static/topzone/Banner/c6/d5/c6d5d23ffc99b8a447f69b4cc739467d.png" alt="Image 1" class="w-full h-auto max-h-full object-cover transition-opacity duration-1000 ease-in-out opacity-100" />
    <img src="https://cdnv2.tgdd.vn/mwg-static/topzone/Banner/79/6c/796cf76bad92c263327e6d4184204a21.png" alt="Image 2" class="w-full h-auto max-h-full object-cover transition-opacity duration-1000 ease-in-out opacity-0" />
    <img src="https://cdnv2.tgdd.vn/mwg-static/topzone/Banner/55/c2/55c25cd91968ae6a32750c3988ce5397.jpg" alt="Image 3" class="w-full h-auto max-h-full object-cover transition-opacity duration-1000 ease-in-out opacity-0" />
  </div>
  <div class="absolute inset-0 flex items-center justify-between px-4">
      <button class="bg-white p-2 rounded-full shadow-md" onclick="prevSlide()">❮</button>
      <button class="bg-white p-2 rounded-full shadow-md" onclick="nextSlide()">❯</button>
  </div>
</div>





