<div class="font-[sans-serif] bg-gray-100">
  <div class="p-4 mx-auto lg:max-w-7xl sm:max-w-full">





    <h1 class="mt-6 text-2xl font-bold">Danh sách sản phẩm</h1>
    <div class="flex border-2 border-blue-500 overflow-hidden max-w-md mx-auto font-[sans-serif]">

      <input
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Tìm kiếm sản phẩm..."
        class="w-full outline-none bg-white text-gray-600 text-sm px-4 py-3" />
      <button type="button" (click)="onSearch()" class="flex items-center justify-center bg-[#007bff] px-5 text-sm text-white">
        Tìm kiếm
      </button>
    </div>

    <!-- Danh sách sản phẩm -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-xl:gap-4 gap-6 mt-6">
      <app-productitem
        [price]="item.price"
        [name]="item.name"
        [url]="item.url"
        *ngFor="let item of filteredProducts">
      </app-productitem>
    </div>
  </div>
</div>
